body {
    height: 100%;
    font-family: 'Rakkas', cursive; 
}

.main-header {
    text-align: center;
    height: 80%;
    font-size : 2em;
    margin: auto
}
.text-body {
    margin: 100px;
}

.game-display {
    background-color: black;
    height: 100%;
}

.combat-log {
    color: white;
    text-align: center;
    width: 30%;
    position: fixed;
    bottom: 5em;
    padding: 20px;
    margin: 0 250px;
}

.increment-select {
    display: inline-block;
    margin: auto; 
}

.quantity {
    color: green;
    font-size: 2em;
    display: inline-block;
    width: 50px;
    height: 50px;
}

#inputName{
    font-size: 1.5em;
}

.attrib-row {
    margin: 10px;
}

.player-action {
    text-align: center;
    width: 80%;
    position: relative;
    font-size : 2em;
    padding : 20px;
    margin: auto;
}

.progress {
    margin: auto;
    text-align: center;
    display: inline;
}

.enemy-action {
    margin: auto;
    -moz-user-input: disabled;
    text-align: center;
    color : red;
    padding : 20px;
}

#enemy-action {
    color: red;
    height: 50px;
    width: 50%;
    margin: auto;
    display: inline-block;
}

.btn-attrib {
    background: black;
    color: white;
    border: 3px, black;
    height: 60px;
    margin: 10px;
    float: right
}

#show-attrib {
    margin: 10px;
}

.btn-field {
    border-radius: 25px;
    background-color: gray;
    padding: 10px 0px 10px;
    margin: auto;
}

.btn-attack {
    border-radius: 15px;
    width: 95%;
    margin: auto;
    display: block;
    color: white;
}
.btn-attack:hover {
    color: red
}


.btn-defend {
    border-radius: 15px;
    width: 95%;
    margin: auto;
    display: block;
    color: white;
}
.btn-defend:hover {
    color: green;
}

.btn-run {
    border-radius: 15px;
    width: 95%;
    margin: auto;
    display: block;
    color: white;
}
.btn-run:hover {
    color: white;
    background-color: white;
}

.messages {
    text-align: center;
    position: relative;
    bottom: 200px;
    font-size: 3em;
    padding: 30px;
    margin: 25%;


}
.navbar {
    min-height: 100px;
    font-size: 3em;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
.goldcounter {
    margin-right: auto;
}


.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0 , 0, 1);
}


.popup-header {
    color: darkred;
    padding: 0

}

.popup-content{
    text-align: center;
    border-radius: 10px;
    background-color: #f4f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0 , 0, 1)
}

.popup-attrib {
    margin: 10px 0 0 0;
}

.popup-footer {
    position: relative;
    top: 60px;
    left: 150px;
}

#player-health-bar {
    display: block;
    margin: 5px;
    padding: 5px;
}
#enemy-health-bar {
    display: block;
    margin: 5px;
    padding: 5px;
}
#sidebar-left {
    height: 100%;
    padding: 10px;
    float: left;
    background-color: grey;
}
